@import "tailwindcss";

:root {
  --font-size: 17px;
}

:root {
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --muted-foreground: #717182;
  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);
  --accent: oklch(0.55 0.18 190);
  --accent-foreground: #ffffff;

  --primary: oklch(0.3 0.15 200);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: oklch(0.3 0.15 200);

  --border: rgba(0, 0, 0, 0.1);
}

/* System preference fallback for dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.1 0.05 240);
    --foreground: oklch(0.95 0.02 240);
    --muted-foreground: oklch(0.65 0.02 240);
    --card: oklch(0.15 0.04 240);
    --card-foreground: oklch(0.9 0.02 240);
    --accent-foreground: oklch(0.05 0.05 240);

    --primary: oklch(0.6 0.2 200);
    --primary-foreground: oklch(0.05 0.05 240);
    --secondary: oklch(0.2 0.05 240);
    --secondary-foreground: oklch(0.8 0.02 240);

    --border: oklch(0.25 0.04 240);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-border: var(--border);
  --breakpoint-md: 57rem;
}

html {
  font-size: var(--font-size);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.menu-button {
  @apply cursor-pointer px-2 py-0.5 hover:bg-accent/75 active:text-accent-foreground hover:text-accent-foreground rounded-lg active:bg-accent flex-1 gap-2 items-center-safe;
}

.menu-enter {
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
}

.menu-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.menu-exit {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.menu-exit-active {
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
}
